<!DOCTYPE html>
<html>
	<head>
		<title>Fleet Management by Masserut</title>
	</head>
	<body>
		<h1>Fleet Management by Masserut</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <b>{{ message }}</b>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}
        {% if current_user.is_authenticated %}
        <h2>Hi, {{ current_user.username }}!</h2>
        <a href="/logout">Logout</a>
        <h3>Admin</h3>
        <a href="/admin">Admin</a>
        {% else %}
        <a href="/login">Login</a>
        {% endif %}
        {% endblock %}
        <h3>API</h3>
        <ul>
            <li><a href="/api/company">Company</a></li>
            <li><a href="/api/user">User</a></li>
            <li><a href="/api/role">Role</a></li>
            <li><a href="/api/event">Event</a></l>
            <li><a href="/api/report">Report</a></li>
            <li><a href="/api/vehicle">Vehicle</a></li>
        </ul>

	</body>
</html>
