<!DOCTYPE html>
<html>
	<head>
		<title>Fleet Management by Masserut</title>
	</head>
	<body>
		<h1>Fleet Management by Masserut</h1>
        <h3>Admin</h3>
        <a href="/admin">Admin</a>
        <form action="https://mssdvd-fm.herokuapp.com/admin">
              <input type="text" placeholder="Enter Username" required>
              <input type="password" placeholder="Enter Password" required>
              <button type="submit">Login</button>
        </form>
        <h3>API</h3>
        <ul>
            <li><a href="/api/user">User</a></li>
            <li><a href="/api/event">Event</a></l>
            <li><a href="/api/report">Report</a></li>
            <li><a href="/api/vehicle">Vehicle</a></li>
        </ul>

	</body>
</html>
