<!DOCTYPE html>
<html>
	<head>
		<title>Fleet Management by Masserut</title>
	</head>
	<body>
		<h1>Fleet Management by Masserut</h1>
        <h3>Admin</h3>
        <a href="/admin">Admin</a>
        <form action="https://mssdvd-fm.herokuapp.com/admin">
              <input type="text" placeholder="Enter Username" required>
              <input type="password" placeholder="Enter Password" required>
              <button type="submit">Login</button>
        </form>
        <h3>API</h3>
        <ul>
            <li><a href="/api/users">Users</a></li>
            <li><a href="/api/events">Events</a></li>
            <li><a href="/api/reports">Reports</a></li>
            <li><a href="/api/vehicles">Vehicles</a></li>
        </ul>

	</body>
</html>
